<a href="https://colab.research.google.com/github/pranay-009/ML_algorithm_from_scratch/blob/main/KNN_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [165]:
path=r"/content/KNN_Data_Set_v2.0.csv - KNN_Data_Set_v2.0.csv.csv"
data=pd.read_csv(path)
data.head()

     Name  Aptitude  Communication    Class
0  Karuna         2            5.0  Speaker
1  Bhuvna         2            6.0  Speaker
2  Gaurav         7            6.0   Leader
3   Parul         7            2.5    Intel
4  Dinesh         8            6.0   Leader

In [166]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           16 non-null     object
 1   Aptitude       16 non-null     int64
 2   Communication  16 non-null     float64
 3   Class          16 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 640.0+ bytes

In [167]:
print("Names:",data["Name"].unique())
print("classes:",data["Class"].unique())

Names: ['Karuna' 'Bhuvna' 'Gaurav' 'Parul' 'Dinesh' 'Jani' 'Bobby' 'Parimal'
 'Govind' 'Susant' 'Gouri' 'Bharat' 'Ravi' 'Pradeep' 'Josh' 'Kaushik']
classes: ['Speaker' 'Leader' 'Intel']

In [168]:
data_clone=data

In [169]:
data_clone=data_clone.drop("Name",axis=1)

In [170]:
data_clone.head()

   Aptitude  Communication    Class
0         2            5.0  Speaker
1         2            6.0  Speaker
2         7            6.0   Leader
3         7            2.5    Intel
4         8            6.0   Leader

In [171]:
def euclidean_distance(row1,row2):
    distances=np.sqrt((row1[0]-row2[0])**2+(row1[1]-row2[1])**2)
    return distances

In [209]:
def predict(test,dataset,k):

    for i in range(len(dataset)):
        dis=euclidean_distance(test,dataset.iloc[i])
        dataset.iloc[i,3]=dis

    result=dataset.sort_values(by=["distance"])

    return result["Class"][:k].value_counts()

In [210]:
data_clone["distance"]=0

In [211]:
x_train,x_test=data_clone.iloc[:12][:],data_clone.iloc[12:][:]

In [220]:
sample=x_test.iloc[1][:]

In [221]:
print(sample[2])

Leader

In [222]:
record=predict(sample,x_train,5)

In [226]:
print(record)

Leader    4
Intel     1
Name: Class, dtype: int64